.nav {
  padding: 20px 40px;
  position: fixed;
  width: 100%;
  bottom: 0;
  box-sizing: border-box;
  border-top: 1px solid var(--border-color-opacity);
  background-color: black;
}
.nav__bar {
  display: flex;
  justify-content: space-between;
}
.nav__bar__icon a i {
  font-size: 27px;
  color: white;
}

@keyframes shakeIcon {
  0% {
    transform: rotateZ(0deg);
  }
  25% {
    transform: rotateZ(20deg);
  }
  59% {
    transform: rotateZ(0deg);
  }
  75% {
    transform: rotateZ(-20deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

.nav__bar__icon a i:hover {
  animation: shakeIcon 0.5s linear infinite;
  color: hotpink;
}

@keyframes upAndDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px) rotateY(360deg);
  }
  100% {
    transform: translateY(0);
  }
}

.nav__bar__icon a {
  position: relative;
}
.chats__count {
  position: absolute;
  right: -10px;
  top: -15px;
  animation: upAndDown 2s ease-in-out infinite;
}

@keyframes appearSequence {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.nav__bar__icon {
  transform: translateY(60px);
  animation: appearSequence 0.2s ease-in-out forwards;
}
.nav__bar__icon:nth-child(2) {
  animation-delay: 0.2s;
}
.nav__bar__icon:nth-child(3) {
  animation-delay: 0.4s;
}
.nav__bar__icon:last-child {
  animation-delay: 0.6s;
}
