.screen-header {
  margin: 0px var(--standard-space);
  margin-top: 55px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.screen-header__title {
  font-size: 25px;
  font-weight: 600;
}
.screen-header__icons i {
  font-size: 25px;
  margin-left: 20px;
}

@keyframes rotate {
  0% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(180deg) scale(1.2);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
.screen-header .fa-cog:hover {
  animation: rotate 0.8s linear infinite;
}
